*{
    font-family: 'Quicksand', sans-serif;
    }

  header {
    display: flex;
    /* justify-content: center;
    flex-direction: column; */
    /* height: 10%; */
    background-color: #020b11;
    /* padding: 1.5rem; */
    align-items: flex-end;
    display: flex;
/* height: 10%; */
background-color: #020b11;
/* padding: 1.5
rem
; */
flex-direction: row;
  }


body {
    background: lightgray;
    background-attachment: fixed;
    margin: 0;
  }



  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

  .left-bar-info {
    display: flex;
    display: grid;
    border: 4px solid rgb(212, 24, 24);

  }

  .right-bar-info {
    display: flex;
    display: grid;
    border: 4px yellow rgb(212, 24, 24);

}
.admin-username {
    color: rgb(49, 119, 211);
    border: 2px solid rgb(255, 173, 105);
    height:4rem;
    width: 6rem;
}

.logo {
    border: 3px dotted white;
    color: white;
    border: 2px solid pink;
    height:4rem;
    width: 6rem;
    border-radius: 5px;
    font-size: 1em;
    margin: 1.5rem;

}


    .sharesBTN,
    .playlistBTN,
    .personal-videosBTN {
      border: 2px solid pink;
      height:4rem;
      width: 6rem;
      border-radius: 5px;
      /* font-size: 1em;
      margin: 1.5rem; */
    }


.all-cards {
    /* width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    /* grid-gap: 1rem; */
    /* min-height: 20vh; */
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 15px;
  justify-content: center;

}

 .card-grid-top,
 .card-grid-bottom {
     display: grid;
     display: flex;
     /* max-width: 1500px; */
     margin: 0 auto;
     /* min-height: 20vh; */
     /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
     /* grid-auto-rows: 0.2fr; */
     grid-gap: 10px;

 }
 .card-1,
 .card-2,
 .card-3,
 .card-4,
 .card-5,
 .card-6,
 .card-7,
 .card-8  {
        border: 2px solid #e7e7e7;
        border-radius: 4px;
        padding: .5rem;
        border: 2px solid black;
        border-radius: 4px;
        background: white;
        border-radius: 1 px;
        padding: 0.5rem;
        height: 50 vh;
        width: auto;
    }


 .arrow-BTN {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid red;
 }

 .web-address {
  word-break: break-word;
  background: #e5e1e1;
  font-size: small;
  font-weight: bolder;
 }
