*{
    font-family: 'Quicksand', sans-serif;
    }

  nav {
    display: flex;
    /* justify-content: center;
    flex-direction: column; */
    /* height: 10%; */
    background-color: #020b11;
    /* padding: 1.5rem; */
    align-items: flex-end;
    display: flex;
    height: 20%;
  background-color: #020b11;
/* padding: 1.5
rem
; */
flex-direction: row;
  }


body {
    background: lightgray;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
  }



  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

  .left-bar-info {
    display: flex;
    display: grid;
    border: 4px solid rgb(212, 24, 24);

  }

  .right-bar-info {
    display: flex;
    display: grid;
    border: 4px yellow rgb(212, 24, 24);
}

.admin-username {
  color: rgb(49, 119, 211);
  height: 4px;
  /* background-color: rgba(255,255,255,0); */
  margin-right: -215px;
  margin-top: 10px;

}

/* .winner{
  display: flex;
  width: 50%;
  height: 100%;
  border: 2px solid white;
  align-items: flex-end;
} */
.connect-icon {
  color: white;
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
}

.win-icon {
  color: white;
  height: 50px;
  margin-top: 78px;
  margin-right: 20px;
}

.username-icon
{
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  font-size: 1em;
}
.cake-icon {
  color: white;
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
}

.person-icon {
  color: white;
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
}

.icon-btns {
  /* //mess around with stuff and shit with margins */
display: flex;
color: white;
width: 50%;
height: 100%;
border: 2
px
solid white;
align-items: flex-end;
justify-content: space-around;
}

.admin-stuff {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.white-arrow-icon {
  color: white;
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}

.sharesBTN,
.playlistBTN,
.personal-videosBTN {
  height: 40px;
  margin-right: 40px;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 15px;
  justify-content: center;

}

 .card-grid-top,
 .card-grid-bottom {
     display: grid;
     display: flex;
     /* max-width: 1500px; */
     margin: 0 auto;
     /* min-height: 20vh; */
     /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
     /* grid-auto-rows: 0.2fr; */
     grid-gap: 10px;

 }
 .card-1,
 .card-2,
 .card-3,
 .card-4,
 .card-5,
 .card-6,
 .card-7,
 .card-8  {
        border: 2px solid #e7e7e7;
        border-radius: 4px;
        padding: .5rem;
        border: 2px solid black;
        border-radius: 4px;
        background: white;
        border-radius: 1 px;
        padding: 0.5rem;
        height: 50 vh;
        width: auto;
    }


 .arrow-BTN {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid red;
 }

 .web-address {
  word-break: break-word;
  background: #e5e1e1;
  font-size: small;
  font-weight: bolder;
 }

 .zero-4 {
  color: rgb(49, 119, 211);
  font-size: xx-large;
}
